.app-l{
    color: brown;

    :global(.title){
        color: #000;
        transform-origin: 0 0;
        animation: scaleRev 5s linear infinite;
        width: 200px;
        
        @keyframes scaleRev {
            0%{
                transform: translateX(0);
            }
            50%{
                transform: translateX(150px);
            }
            100%{
                transform: translateX(0);
            }
        }
    }
}